<launch>

  <arg name="sim" default="false"/>

  <node name="amazon_detector" pkg="amazon_challenge_grasping" type="detector_action.py" output="screen"/>

  <group if="$(arg sim)">
    <node name="action_client" pkg="amazon_challenge_bt_actions" type="ActionClient" output="screen">
      <param name="action_server_name" value="amazon_detector" />
    </node>
    <node name="task_manager" pkg="amazon_challenge_bt_actions" type="task_manager" output="screen"/>
  </group>

</launch>